<!doctype html>
  <html lang="pt-br">
	<head>
	<meta charset="utf-8">
        <title> Contato </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap e CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="~/css/estilo.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" integrity="sha384-HyZ9BlizpkTN8gDzL3b9IcfZkAMsVgwekg1OECcF7S+cm5lP5nLOvFUbd1VlRM2i" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/4154c25085.js" crossorigin="anonymous"></script>
	</head>

	<body>

        <!-- Menu Responsivo -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            
            <div class="container-fluid">
                
                <a href="index"> <img class="logomarca" src="~/imagens/logo_ietel.png">  </a>
                <a href="index"> <img class="logotipo"  src="~/imagens/letra_ietel.png"> </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/informacao/funcionamento"> Funcionamento </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/calculadora/calculadoraSolar"> Calculadora Solar </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/orcamento/orcamento"> Orçamento </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/informacao/sobreNos"> Sobre Nós </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/vaga/listaVagaCandidato"> Trabalhe Conosco </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/informacao/contato"> Contato </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/login/login"> <button class="login"> Login </button> </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <!-- Contato -->
	    <div class="container" style="padding: 1.7%;"> 


            <!-- Título -->
            <p class="titulo"> Entre em <font color="#f58934"> CONTATO </font> conosco : </p>


            <!-- Localização -->
            <div class="contato">
                <p class="titulo_contato"> Matriz em Potirendaba-SP </p>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6204983829216!2d-49.36682122539187!3d-21.04786557408915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdcb5a37830b25%3A0xaba129f492ffadb3!2sIetel%20Solar%20Potirendaba!5e0!3m2!1spt-BR!2sbr!4v1689182510213!5m2!1spt-BR!2sbr" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
                </div>
                <p class="letra_contato"> <i class="fa fa-phone fa-lg" style="color: #082b59;"> </i> <font color="#082b59"> Telefones: </font> (17) 98139-2242 e (17) 3249-1065 </p>
            </div>


            <div class="contato">
                <p class="titulo_contato"> Filial em Potirendaba-SP </p>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.9436913979912!2d-49.38010003047861!3d-21.041696347108733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdcb448d81e289%3A0x885f1dad87b084f8!2sR.%20Cap.%20Jos%C3%A9%20Oliva%2C%20811%20-%20Centro%2C%20Potirendaba%20-%20SP%2C%2015105-000!5e0!3m2!1spt-BR!2sbr!4v1689186020291!5m2!1spt-BR!2sbr"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
                </div>
                <p class="letra_contato"> <i class="fa fa-phone fa-lg" style="color: #082b59;"> </i> <font color="#082b59"> Telefones: </font> (17) 98139-2242 e (17) 3249-1065 </p>
            </div>


            <div class="contato">
                <p class="titulo_contato"> Filial em São José do Rio Preto-SP </p>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.810774602216!2d-49.37777652539932!3d-20.839346267267395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdb3308d8a7c7f%3A0x967448e0ee6bfd8a!2sIetel%20Solar%20S%C3%A3o%20Jos%C3%A9%20do%20Rio%20Preto!5e0!3m2!1spt-BR!2sbr!4v1689185813938!5m2!1spt-BR!2sbr" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
                </div>
                <p class="letra_contato"> <i class="fa fa-phone fa-lg" style="color: #082b59;"> </i> <font color="#082b59"> Telefones: </font> (17) 98139-2242 e (17) 3226-4007 </p>
            </div>

        </div>

        <!-- Rodapé -->
	<footer>
            <table width="100%">
            <th>
            <div class="social-icons">
                
                Nos Siga:
                <!-- Ícone do Facebook -->
                <a href="https://www.facebook.com/ietelsolar" target="_blank">
                    <i class="fa-brands fa-square-facebook"></i> </a>
                <!-- Ícone do Instagram -->
                <a href="https://www.instagram.com/ietelsolar/" target="_blank">
                    <i class="fa-brands fa-square-instagram"></i></a>

                <!-- Ícone do Linkedin -->
                <a href="https://www.linkedin.com/in/ietel-solar-7754a2219/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i> </a> 

                    <th width="20%">Telefone: 17 3249-1065</br>
                    17 98139-2242</th>
                    
                    <th width="40%">Endereço: Av.Gabriel Péres Martins,311, Distrito Industrial</br>
                    Potirendaba - SP, 15105-000</th>
                    
                    <th width="20%">Horário: 08h às 18h</th></tr>

            </div>
            </table>
            
        </footer>

	</body>
  </html>
